<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata{% endtrans %}</title>
  <style media="screen">
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  label {
		font-size: 90%;
	}
  </style>
</head>
<body>
  <div style="padding-top:5px" class="container-fluid mainbox col-md-6 col-md-offset-3">
    <div class="panel shadow">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans %}View{% endtrans %}
        <i class="fa fa-question-circle pull-right" style="font-size:16px;color:white;"data-toggle="modal" data-target="#balSModal"></i></h3>
      </div>
      <div class="panel-body" style="padding-top:5px">
        <div class="alert alert-danger" id="improperdate-alert" hidden>

          {% trans %}Please enter date in proper format!{% endtrans %}
        </div>
        <div class="panel-body" style="padding-top:5px">
          <div class="alert alert-danger" id="betweendate-alert" hidden>

            {% trans %}Please enter date from within the financial year!{% endtrans %}
          </div>


        <div style="margin-bottom: 5px" class="col-xs-12 from-group">
          <label for="viewbalsht_fromday">{% trans %}From Date{% endtrans %} :</label>
          <div class="form-inline" >

            <div class="form-group">

              <input type="text" class="viewbalsht_date form-control input-sm dis" id="viewbalsht_fromday"  value="" size="2" maxlength="2" placeholder="DD">
              <input type="text" id="viewbalsht_frommonth" class="viewbalsht_date dis form-control input-sm"  value="" size="2" maxlength="2" placeholder="MM">
              <input type="text" id="viewbalsht_fromyear" class="viewbalsht_date dis form-control input-sm"  value="" size="4" maxlength="4" placeholder="YYYY">
            </div>

          </div>
          <br>
          <label for="viewbalsht_today">{% trans %}To <u>D</u>ate{% endtrans %} :</label>
          <div class="form-inline" >

            <div class="form-group">

              <input type="text" class="viewbalsht_date form-control input-sm dis" id="viewbalsht_today" value="" size="2" maxlength="2" placeholder="DD" accesskey="d">
              <input type="text" id="viewbalsht_tomonth" class="viewbalsht_date form-control input-sm dis" value="" size="2" maxlength="2" placeholder="MM">
              <input type="text" id="viewbalsht_toyear" class="viewbalsht_date form-control input-sm dis" value="" size="4" maxlength="4" placeholder="YYYY">
            </div>
          </div>
          <br>
          <label for="viewbalsht_baltype" id="baltypelbl">{% trans %}<u>T</u>ype{% endtrans %} :</label>
          <div class="form-group cbl" hidden="hidden">
            <select class = "form-control input-sm dis cblsel" id="viewbalsht_baltype"  name = "viewbalsht_baltype" accesskey="t">

              <option value="conventionalbalancesheet">{% trans %}Conventional Balance Sheet{% endtrans %}</option>
              <option value="verticalbalancesheet">{% trans %}Sources & Applications of Funds{% endtrans %}</option>
            </select>
          </div>
          <div class="form-group csa" hidden="hidden">
            <select class = "form-control input-sm dis cblsel" id="viewsa_baltype"  name = "viewsa_baltype" accesskey="t">

              <option value="conventionalbalancesheet">{% trans %}Conventional Statement of Affairs{% endtrans %}</option>
              <option value="verticalbalancesheet">{% trans %}Sources & Applications of Funds{% endtrans %}</option>
            </select>
          </div>

        </div>
    <div id="balSModal"  tabindex="-1" class="modal fade" role="dialog"style="width:675px; margin-top: 105px; margin-left:310px;"  aria-hidden="true">
  	<div class="modal-dialog bgcolor " >
   	 <div class="modal-content ">
    	<div class="modal-header">
      		{% trans %}<strong>Help!</strong>{% endtrans %}
   			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> </div>
      <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

       <p>   <font color=" #566573"> {%trans%}
Statement of Affairs / Balance Sheet </br>
This report can be seen in two formats, namely, Conventional and Vertical.</br> The Vertical format is also called Sources and Application of Funds.
The period for this report must begin with the first date of the Financial Year and can end on any date.
</br>In the Conventional format assets are shown on right side and capital and liabilities on the left side. In the Vertical format capital & liabilities are shown in the upper part and assets are shown in the lower part.
Operators cannot view this report.
Besides this report you can also see a Consolidated Balance Sheet of holding and subsidiary organizations. For this select Consolidated Final Accounts from the drop down of the report menu.<br>
Final Accounts means the Balance Sheet and Profit & Loss Account.</br>
Where in a business house has a number of different organizations, it may want to view a combined view of its profitability and State of Affairs.</br>
GNUKhata provides an easy and quick way of doing this. </br>
The user will be asked to select a Holding Company and its subsidiary company(s).</br> All these organizations must be of the same Type and must have the same Financial Year.</br>
Note that this is a consolidated report generated from organizations which are separately created in GNUKhata and no changes in the accounts of these organizations will take place.
Operators cannot view this report.
{% endtrans %} </font>

        </p>
      </div>

    </div>
  </div>
</div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary btn-sm" id="viewbalsht_submit" name="view" accesskey="v">{% trans %}<i class="fa fa-eye" aria-hidden="true"></i> <u>V</u>iew{% endtrans %}</button>
        <button id="viewbalsht_reset" class="btn btn-danger btn-sm" accesskey="e">{% trans %}<i class="fa fa-refresh" aria-hidden="true"></i> R<u>e</u>set{% endtrans %}</button>
        <button id="report_back" class="btn btn-danger btn-sm" accesskey="e">{% trans %}<u>B</u>ack{% endtrans %}</button>

      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewbalancesheet.js')}}"></script>
</body>
</html>
